// 对齐变量
$items: ('start': start, 'end': end, 'center': center, 'strtch': stretch);
$contents: ('start': start, 'end': end, 'center': center, 'strtch': stretch, 'sapce-around': space-around, 'sapce-between': space-between, 'space-evenly': space-evenly); 
// 颜色
$circleColor: ('red': #e66e4c, 'orange': #f3844d, 'blue': #239fdb, 'green': #24c4bc);



